[submodule "docs/Spirit-Doxygen"]
	path = docs/Spirit-Doxygen
	url = https://github.com/Matthieu-Beauchamp/Spirit-Doxgen
[submodule "ext_libs/xsimd"]
	path = ext_libs/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "ext_libs/eigen"]
	path = ext_libs/eigen
	url = https://gitlab.com/libeigen/eigen
